<script language="javascript" >
	<% include ../games/model.js %>
	<% include ../games/controller.js %>
</script>
<script type="text/babel">
	class Button extends React.Component {
		constructor(props) {
			super(props);
		}

		render(props) {
			return (
				<button onClick={this.props.clickHandler} > {this.props.value}
				</button>
			);
		}
	}

	class Instructions extends React.Component {
		constructor(props) {
			super(props);
		}

		render() {
			return (
				<div>
					<center>
						<table>
							<tbody>
								<tr>
									<td>
										<h1>How to play: </h1>
										Left Arrow Key: To move left
										<br/>
										Right Arrow Key: To move right
										<br/>
										'b': To release ball
									</td>
								</tr>
							</tbody>
						</table>
					</center>
				</div>
			);
		}
	}

	class GameCanvas extends React.Component {
		constructor(props) {
			super(props);
		}
		render(props){
			return (
				<canvas id="stage" width="800" height="800" style={{border:"1px solid black"}} >
				</canvas>
			);
		}
	}

	class ViewComponent extends React.Component {
		constructor(props) {
			super(props);
			this.state = {
				"currentView": "HomePage"
			}
			this.playButtonClickHandler = this.playButtonClickHandler.bind(this);
			this.pauseButtonClickHandler = this.pauseButtonClickHandler.bind(this);
		}

		playButtonClickHandler(e) {
			this.setState( (prevState, props) => {
				return { "currentView": "PlayView" };
			});

			let promise = new Promise(resolve => setTimeout(resolve, 10));
			promise.then(() => {
				if (!isGameActive()){
					setupGame();
				}
				startGame();
			});
		}

		pauseButtonClickHandler(e) {
			pauseGame();
		}

		render() {
			return (
				<center>
					<table>
						<tbody>
							<tr>
								<td>
									<center>
										<h1>Welcome to KT Brick Breaker!</h1>
									</center>
									<GameCanvas />
								</td>
								<td>
									<Button clickHandler={this.playButtonClickHandler} value="Play" />
								</td>
							</tr>
							<tr>
								<td>
									<Instructions />
								</td>
							</tr>
						</tbody>
					</table>
				</center>
			);
		}
	}

	ReactDOM.render( <ViewComponent />,
	document.getElementById("interface")
    );
</script>