<script language="javascript" >
	<% include ../games/action.js %>
	<% include ../games/model.js %>
	<% include ../games/controller.js %>
</script>
<script type="text/babel">
	class Button extends React.Component {
		constructor(props) {
			super(props);
		}

		render() {
			return (
				<button onClick={this.props.clickHandler} > {this.props.value}
				</button>
			);
		}
	}

	class GameCanvas extends React.Component {
		constructor(props) {
			super(props);
		}
		render(props){
			return (
				<canvas id="stage" width="800" height="800" style={{border:"1px solid black"}} >
				</canvas>
			);
		}
	}

	class ViewComponent extends React.Component {
		constructor(props) {
			super(props);
			this.state = {
				"currentView": "HomePage"
			}
			this.playButtonClickHandler = this.playButtonClickHandler.bind(this);
			this.pauseButtonClickHandler = this.pauseButtonClickHandler.bind(this);
		}

		playButtonClickHandler(e) {
			this.setState( (prevState, props) => {
				return { "currentView": "PlayView" };
			});

			let promise = new Promise(resolve => setTimeout(resolve, 10));
			promise.then(() => {
				if (!isGameActive()){
					setupGame();
					startGame();
				}
			});
		}

		pauseButtonClickHandler(e) {
			pauseGame();
		}


		render() {
			return (
				<center>
					<h1>Welcome to KT Brick Breaker!</h1>
					<table>
						<tbody>
							<tr>
								<td>
									<GameCanvas />
								</td>
								<td>
									<Button clickHandler={this.playButtonClickHandler} value="Play" />
								</td>
							</tr>
						</tbody>
					</table>
				</center>
			);
		}
	}

	ReactDOM.render( <ViewComponent />,
	document.getElementById("interface")
    );
</script>