<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>

  <div>
  	<% include ../games/brick-breaker.ejs %>
  </div>

</body>
</html>
