<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>

  <% include ../games/brick-breaker.ejs %>
  <div id="interface"></div>

</body>
</html>
